footer{
    display: flex;
    justify-content: flex-end;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
}