#edit-bar{
  background-color: black;
  padding: 5px;
  height:35px; 
  width:100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-bar-btn{
  background-color: black;
  color: white;
  border: none;
  padding:6px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 10px;
  font-family: "Work Sans";
}
 .on{
  background-color: white;
  color: black;
  border-radius: 40px;
  cursor: pointer;
}
.edit-btn{
  background-color: inherit;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}
#introduction button{
  position: relative;
  left: -25px;
  top: 10px;
  
}
#introduction article button{
  margin-bottom: 20px;
}

  button span{
  margin-left: 5px;
  font-family: "Work Sans";
}

dialog{
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 600px;
    max-width: 80%;
    border: none;
    font-family: "Work Sans";
  }
  .active{
    display:block;
  }
  /** edit or remove work modal **/
  .modal-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .close-button{
    cursor: pointer;
  }

  .modal-body, .modal-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .modal-body{
    margin-top: 20px;
  }

  h3{
    font-size: 1.5rem;
  }
  .modal-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 80%;
    border-bottom: 2px solid grey;
   padding: 30px 0px;
  }
  
  .card-img{
    position: relative;
    width: 100%;
    aspect-ratio: 3/4;
    
  }
  .card-img img{
    width: 100%;
    height: 100%;
  }

  .card-img i {
    position: absolute;
    display: flex;
    top: 5%;
    left: 75%;
    color: white;
    cursor: pointer;
    padding: 8px 4px;
    background-color: black;
    border-radius: 2px;
  }

  .card-img i:hover{
    color: red;
  }

  #edit-button{
    cursor: pointer;
  }
  

  input{
    padding: 10px 20px;
  }
  #delete-gallery{
    color: red;
    cursor: pointer;
  }

  /** add work modal **/
  .modal-load-picture-area{
    width: 420px;
    height: 170px;
  }

#addPicture.modal-header{
  display: flex;
  justify-content: space-between;
}
.fa-arrow-left , .fa-xmark {
  cursor: pointer;
}
  #drop-zone {
    width:100%;
    height: 190px;
    text-align: center;
    background-color: #E8F1F6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0px;
  }
  .fa-image{
    color: gray;
    font-size: 5em;
    margin-top: 15px;
  }

  #load-picture-label{
    border-radius: 40px;
    border: none;
    background-color: #CBD6DC;
    color: #306685;
    width: 170px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 900;
    font-size: 1 rem;
  }
  input[type="file"]{
    display: none;
  }
  form{
    width: 420px;
  }
  #title-input, #category-input{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
  }
  #title-input{
    margin-top: 40px;
  }

  input, select{
    box-shadow: #CBD6DC;
    border: none;
    height: 50px;
    padding: 2px;
    border: 1px solid gray;
    margin-top: 10px;
  }
  #validate-button{
    background-color: #A7A7A7;
    color: white;
    font-family: 'Syne';
	  font-weight: 700;
	  margin : 2em auto ;
	  width: 180px;
	  text-align: center;
	  border-radius: 60px ;
	  border: none;
    height: 50px;
    cursor: pointer;
  }

  #edit-mode-picture{
    width: 130px;
    height: 80%;
    display: none;; 
  }

  #edit-mode-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* css for the sendButton */

  .loading-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .loading-pt-wrapper{
    display:flex;
    justify-content: center;
    align-items:center; 
  }
  .loading-pt{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    margin: 0px 5px;
    animation: loader infinite 0.3s alternate;
  }
  @keyframes loader{
    100%{
      transform: translateY(-7px);
    }
  }
  .pt-2{
    animation-delay: 0.05s;
  }
  .pt-3{
    animation-delay: 0.1s;
  }
  
  #sendWorkButtonActive{
    animation: apparition 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  
  @keyframes apparition{
    0%{
      transform:translateY(5px);
      opacity:0%;
    }
    50%{
      transform:translateY(-3px); 
    }
    100%{
      transform:translateY(0px);
      opacity:100%; 
    }
  }